<% provide(:title, @user.username) %>
<body class="user_show_page">

<!-- Page Content -->
<div class="container">
    <!-- First Featurette -->
    <div class="featurette" id="about">
        <div class="container">
             <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic text-center">
                            <%= gravatar_for @user %>
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                <%= @user.username %><br>
                                E-mail: <%= @user.email %> <br>
        						Firstname: <%= @user.firstname %><br>
        						Lastname: <%= @user.lastname %><br>
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->

                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li><%= link_to  :action => :show, :id => @user.id  do %>
                                <i class="glyphicon glyphicon-home"></i> Game Rank</a>
                                <% end %>
                                </li>

                                <li class="active"><a href="#">
                                <i class="glyphicon glyphicon-ok"></i> Game History
                                </li></a>

                                <li><%= link_to edit_user_path(current_user) do %>
                                <i class="glyphicon glyphicon-cog"></i> Settings
                                <% end %>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->

                    </div>
                </div>


				<!-- Profile content -->
                <div class="col-md-9">
                <div class="profile-content text-center">
                		<h1>Game History: <br></h1>

                         <div class="profile-usertitle-name">
                         <% @user.game_histories.each do |g| %>
                                Game name: <%= get_game_name(g.game_id) %> <br>
                                Game address: <%= get_game_address(g.location_id) %> <br>
                                Use hint1: <%= g.hint1_used %> <br>
                                Use hint2: <%= g.hint2_used %> <br>
                                The total time of the game: <%= get_game_duration(g.game_id) %><br>
                                
                        <br>
                        <% end %>
                      
                        </div>

                        <br>
                    </div>
                </div>
            </div>
        </div>

<br>
<br>



</body>
