<% provide(:title, 'All users') %>
<h2 class="user-edit"> Listing Users </h2>
<div class="row">
  <table id="js-users-dt" class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.is_admin %></td>
        <td>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
