<!-- Game not started yet -->
<% if @game_start_datetime > DateTime.now %>
  <h2> <%= @game.title %> </h2>
  <p>
    This game has not started yet. Please check again at
    <b><%= @game_start_datetime.strftime("%F @ %H:%M:%S") %></b>
  </p>

<!-- Game ended-->
<% elsif @game_end_datetime < DateTime.now %>
  <div class="row">
    <div class="col-md-6">
      <h2> <%= @game.title %> </h2>
      <p>
        This game has ended. You can check for more games <%= link_to 'here', games_path, class: 'btn btn-info' %>
      </p>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" style="border-color:crimson; color: crimson;">
        <div class="panel-body">
          <div id="clock"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Game ready to play-->
<% else%>
  <div class="row">
    <div class="col-md-6">
      <h2>
        <%= @game.title %>
        <% if @user_game_history %>
          (playing...)
        <% else %>
          <button id="js-game-start" type="button" data-gameid="<%=@game.id%>" class="btn btn-primary">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Play
          </button>
          <span id="js-game-playing" style="display:none;">(playing...)</span>
        <% end %>
      </h2>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="clock"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <% @game.locations.all.each do |location| %>
    <div class="col-sm-2">
      <%= image_tag location.image.url(:thumb) %>
    </div>
    <% end %>
  </div>

<% end %>
<script>
$('#clock').countdown({
  until:new Date("<%=@game_end_datetime.utc.strftime("%FT%H:%M:%S")%>"),
  format: 'MS',
  onExpiry: function() {
    location.reload();
  }
})
</script>
