<!-- Game not started yet -->
<% if @game_start_datetime > DateTime.now %>
  <h2> <%= @game.title %> </h2>
  <p>
    This game has not started yet. Please check again at
    <b><%= @game_start_datetime.strftime("%F @ %H:%M:%S") %></b>
  </p>

<!-- Game ended-->
<% elsif @game_end_datetime < DateTime.now %>
  <div class="row">
    <div class="col-md-6">
      <h2> <%= @game.title %> </h2>
      <p>
        This game has ended. You can check for more games <%= link_to 'here', games_path, class: 'btn btn-info' %>
      </p>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" style="border-color:crimson; color: crimson;">
        <div class="panel-body">
          <div id="clock"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Game ready to play-->
<% else%>
  <div class="row">
    <div class="col-md-6">
      <h2>
        <%= @game.title %>
        <% if @user_game_history %>
          (playing...)
        <% else %>
          <a href="/games/start/<%=@game.id%>" data-gameid="<%=@game.id%>" class="btn btn-primary">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Play
          </a>
        <% end %>
      </h2>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="clock"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row show-grid highlight">
    <% @game.locations.all.each do |location| %>
    <div class="col-sm-2">
      <%= image_tag location.image.url(:thumb), data: {locationid:location.id},  class:"js-location-choice"%>
    </div>
    <% end %>
  </div>
  <% if @user_game_history %>
    <div id="js-play-locations">
      <div class="row show-grid highlight">
        <% @game.locations.all.each do |location| %>
          <div class="js-location" id="js-location-<%=location.id %>">
            <div class="col-md-6">
              <%= image_tag location.image.url(:medium) %>
            </div>
            <div class="col-md-6">
              <div class="row show-grid">
                <div class="col-md-12 show-grid">
                  <%=location.description %>
                </div>
                <div class="col-md-12 show-grid">
                  <button type="button" data-gameid="<%=@game.id%>" class="btn btn-info">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Use Hint
                  </button>
                  <span id="hint1-<%=location.id %>"> Using this hint costs <%= location.hint1_points%> point(s)</span>
                </div>
                <div class="col-md-12 show-grid">
                  <button type="button" data-gameid="<%=@game.id%>" class="btn btn-info">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Use Hint
                  </button>
                  <span id="hint2-<%=location.id %>">Using this hint costs <%= location.hint1_points%> point(s)</span>
                </div>
                <div class="col-md-12 show-grid">
                  <button class="js-location-found btn btn-success btn-lg" type="button" data-locationid="<%=location.id %>" style="width:100%;"> Found It!
                  </button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>
<script>
$('#clock').countdown({
  until:new Date("<%=@game_end_datetime.utc.strftime("%FT%H:%M:%S")%>"),
  format: 'MS',
  onExpiry: function() {
    location.reload();
  }
})
</script>
