<div class="game-show text-center">
  <div class="container-fluid text-center">
    <h2>Information</h2>
    <h4>--Game--</h4>
    <br>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @game.latitude %>, <%= @game.longitude %>&zoom=13&size=600x400&maptype=roadmap&markers=color:red%7C<%= @game.latitude %>, <%= @game.longitude %>">
    <br>

    <div class="row text-center" >
      <div class="col-sm-2">
        <h4>TITLE</h4>
        <p><%= @game.title %></p>
      </div>
      <div class="col-sm-2">
        <h4>ADDRESS</h4>
        <p><%= @game.address %></p>
      </div>
      <div class="col-sm-2">
        <h4>START DATE</h4>
        <p><%= @game.starts_at_date %></p>
      </div>
      <div class="col-sm-2">
        <h4>START TIME</h4>
        <p><%= @game.starts_at_time %></p>
      </div>
      <div class="col-sm-2">
        <h4>DURATION</h4>
        <p><%= @game.duration %> minutes</p>
      </div>
      <div class="col-sm-2">
        <h4>ORGANIZER</h4>
        <% if @game.organizer.present? %>
        <p>
          <%= link_to @game.organizer.username, @game.organizer %>
        </p>
      <% end %>
      </div>
    </div>

    <br>
    <br>
    <%= link_to "Join Game", user_path(current_user, :gid => @game.id), class: "btn btn-success" %>
    
    

   


  </div>
  <br>
  <div lass="button-game-show">
    <% if logged_in? && current_user.is_admin? %>
      <%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-info' %> |
    <% end %>
    <%= link_to 'Back', games_path, class: 'btn btn-warning' %>

  </div>
</div>
